<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Sub By ID</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
</head>
<body>
<div th:insert="~{fragments/layout_main :: content}"></div>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" align="center">
            <h1 th:text="'Submission no ' + ${sub.submissionId} + ' submitted on ' + ${sub.submissionDate}">
            </h1>
            <form th:action="@{/sub-by-id/}" th:object="${sub}" method="post">
                <table>
                    <tr>
                        <td>
                            <h3 th:text="'The submission is for ' + ${assignForSub.assignmentName}"></h3></td>
                    </tr>
                    <tr><h3 th:text="'The submission content is ' + ${sub.submissionContent}"></h3></tr>
                </table>
                <a th:href="@{/api/v1/submission/sub-by-id/edit/${sub.submissionId}}" sec:authorize="hasAuthority('STUDENT')" type="submit">Edit</a>
            </form>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
</div>

</body>
</html>